<div class="content box">
  <div class="columns is-multiline">
  <div class="column is-one-fifth">
    <div class="box has-background-black has-text-white p-4">
            <div class="columns">
        <div class="column is-three-quarters">
      <h2 class="title has-text-white">{{title}}</h2>
          </div>
        <div class="column is-one-quarter">

        </div>
      </div>
      <br>
      Lat: {{latitude}}
      <br>
      Lng: {{longitude}}
    </div>
  </div>
  <div class="column is-one-fifth">
    <div class="box has-background-black has-text-white p-4">
            <div class="columns">
        <div class="column is-three-quarters">
      <h2 class="title has-text-white">Weather</h2>
          </div>
        <div class="column is-one-quarter">

        </div>
      </div>
      <br>
      {{latestWeatherDescription}}
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>
  </div>
  <div class="column is-one-fifth">
    <div class="box has-background-black has-text-white p-4">
            <div class="columns">
        <div class="column is-three-quarters">
      <h2 class="title has-text-white">Temp</h2>
          </div>
        <div class="column is-one-quarter">
          {{#if (eq temperatureTrend 1)}}
          {{> icons/trendUp}}
          {{else if (eq temperatureTrend -1)}}
          {{> icons/trendDown}}
          {{else if (eq temperatureTrend 0)}}
          {{> icons/trendStatic}} 
          {{/if}}
        </div>
      </div>
      <br>
      {{latestTempC}} C
      <br>
      {{latestTempF}} F
      <br>
      <br>
      <br>
      Max: {{maxTemperature}}
      <br>
      Min: {{minTemperature}}
      <br>
      <br>
      <br>
    </div>
  </div>
  <div class="column is-one-fifth">
    <div class="box has-background-black has-text-white p-4">
            <div class="columns">
        <div class="column is-three-quarters">
      <h2 class="title has-text-white">Wind</h2>
          </div>
        <div class="column is-one-quarter">
          {{#if (eq windSpeedTrend 1)}}
          {{> icons/trendUp}}
          {{else if (eq windSpeedTrend -1)}}
          {{> icons/trendDown}}
          {{else if (eq windSpeedTrend 0)}}
          {{> icons/trendStatic}} 
          {{/if}}
        </div>
      </div>
      {{latestBFT}} BFT
      <br>
      {{latestCompassDirection}}
      <br>
      Feels Like
      <br>
      {{latestWindChill}}
      <br>
      Max: {{maxWindSpeed}}
      <br>
      Min: {{minWindSpeed}}
    </div>
  </div>
  <div class="column is-one-fifth">
    <div class="box has-background-black has-text-white p-4">
      <div class="columns">
        <div class="column is-three-quarters">
          <h2 class="title has-text-white">Pressure</h2>
        </div>
        <div class="column is-one-quarter">
          {{#if (eq pressureTrend 1)}}
          {{> icons/trendUp}}
          {{else if (eq pressureTrend -1)}}
          {{> icons/trendDown}}
          {{else if (eq pressureTrend 0)}}
          {{> icons/trendStatic}} 
          {{/if}}
        </div>
      </div>
      {{latestPressure}} hpa
      <br>
      Max: {{maxPressure}}
      <br>
      Min: {{minPressure}}
      <br>
    </div>
  </div>
</div>
</div>
